/.idea
__pycache__/
*.py[cod]
*.vpp.bak*
.ipynb_checkpoints/
.cache
env/
.venv/
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.code-workspace
*.lua
*.pgf-plot*
*.nav
*.toc
*.snm
*.pdf
mypy.ini
lecture_2_slides_files/
lecture_3_slides_files/
lecture_1_files/
*.docx
*.html
*.tex
observable_files/
*_files