.cell-output pre {
  margin-left: 1em;
  margin-top: 0;
  background: none;
  border-left: 3px solid rgba(233,236,239,.65);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 0.8em;
  padding-left: 0.2em;
  padding-top: 0.2em;
}